.post-in-listing
  = image_tag Gravatar.new(post.user.email).image_url(:size => 40)
  %h2= link_to post.title, post
  - unless post.body.blank?
    .post-body= post.processed_body.html_safe
  - unless post.url.blank?
    .post-url= link_to post.url, post.url
  .tags= post.tag_list.map{|t| link_to(t, tagged_with_path(t))}.join('').html_safe
  .posted-by Posted by <b>#{post.user.username}</b> #{time_ago_in_words post.created_at} ago
  .clear