.left
  %h1 Listing posts
  - if @posts.blank?
    = render :partial => "posts/no_posts"

  - else
    = page_entries_info(@posts)
    - @posts.each do |p|
      = render :partial => "posts/in_listing", :locals => {:post => p}
  
    = will_paginate @posts
    .clear
.right
  = render_cell :latest_posts, :display
  = render_cell :tag_cloud, :display
.clear